.input-icon {
    position: relative;
}

.input-icon > i {
    position: absolute;
    display: block;
    transform: translate(0, -50%);
    top: 50%;
    pointer-events: none;
    width: 25px;
    text-align: center;
    font-style: normal;
}

.input-icon > input {
    padding-left: 6px;
    padding-right: 0;
}

.input-icon-right > i {
    right: 0;
    padding-right: 6px;
    color: #8a8a8a;
}
